.inputs {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.whitespace-input {
    background-color: #fbed87;
}

.correct-input {
    background-color: lightgreen;
}

.wrong-input {
    background-color: lightcoral;
}

.input-button {
    width: 40%;
    background-color: #ccc;
    color: black;
    padding: 1rem 2rem;
    margin: 1rem 0.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .input-button:hover {
    background-color: #cccccc84;
  }

.labels {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
}

.form {
    margin-top: 3%;
}

@media screen and (max-width: 760px) {
    .input-button {
        display: block;
        width: 80%;
        margin: 5% auto;
        padding: 5%;
    }
}

